<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board Game Dex</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css" />
    <link rel="stylesheet" href="./src/style.css" />
  </head>
  <body id="app" class="container" style="text-align: center">
    <div class="row">
      <h1>Steven's Board Game Dex</h1>
      <div class="col-12" v-show="!displayDetails">
        <div class="row">
          <span class="col-3 me-2" v-for="(game,index) in games">
            <img :src="'./data/gameCover/'+index+'.png'" class="col-12" alt="" />
            <span class="col-12">{{game}}</span>
          </span>
        </div>
      </div>
      <div class="col-6" v-show="displayDetails">
        <div class="row">
          <span class="col-3 me-2" v-for="(game,index) in games">
            <img :src="'./data/gameCover/'+index+'.png'" class="col-12" alt="" />
            <span class="col-12">{{game}}</span>
          </span>
        </div>
      </div>
      <div class="col-6" v-show="displayDetails" style="border-left: 5px solid black">
        <span class="exitButtn">X</span>
        <div id="markdownField"></div>
      </div>
    </div>
    <script src="./lib/bootstrap.bundle.min.js"></script>
    <script src="./lib/vue.global.js"></script>
    <script src="./lib/marked.min.js"></script>
    <script type="module" src="./data/gameIndex.js"></script>
    <script type="module" src="./src/main.js"></script>
  </body>
</html>
