<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WFLPYL90C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3WFLPYL90C");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board Game Dex</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css" />
    <link rel="stylesheet" href="./src/style.css" />
    <link rel="shortcut icon" href="./img/icon.png" type="image/x-icon" />
  </head>
  <body id="app" class="container">
    <div class="row">
      <h1 style="text-align: center">Steven's Board Game Dex</h1>
      <div class="col-12 col-sm-6" v-show="!displayMD||!isSmallScreen">
        <div class="row" v-show="!isSmallScreen">
          <span :class="{'col-2':true, 'me-2':true, 'tag':true, 'mt-2':true, 'selectedTag':selectedTags.indexOf(tag)!=-1}" v-for="(tag,index) in tags" @click="tagClicked(tag)">{{tag}}</span>
        </div>
        <div class="row">
          <span class="col-3 col-sm-2 me-2" v-show="selectedTags.length == 0 || filteredGame.indexOf(game)!=-1" v-for="(game,index) in games" @click="loadMD(index)">
            <img :src="'./data/gameCover/'+index+'.png'" class="col-12" alt="" />
            <span class="col-12">{{game}}</span>
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-6" :style="{'border-left' : isSmallScreen ? 'none' :'5px solid #e6edf3; height: 100vh'}" v-show="displayMD">
        <span v-show="isSmallScreen" class="exitButtn" @click="exitBtnClicked">X</span>
        <div id="markdownField"></div>
      </div>
    </div>
    <script src="./lib/bootstrap.bundle.min.js"></script>
    <script src="./lib/vue.global.js"></script>
    <script src="./lib/marked.min.js"></script>
    <script type="module" src="./src/main.js"></script>
  </body>
</html>
